<div class="listing-form interior-page">
  <h1>Create a listing</h1>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h5>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form_for @listing, html: {id: 'listing-form', class: 'form-horizontal'} do |f| %>
      <div class="form-group">
        <%= f.label :price, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.number_field :price, class: 'form-control' %>
        </div>
        <%= f.label :sqft, 'Sq. Ft', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.number_field :sqft, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :home_type, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.select :home_type, ['Single Family', 'Multi-family', 'Condominium', 'Townhome'], {}, {class: 'form-control'} %>
        </div>
        <%= f.label :baths, class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.text_field :baths, class: 'form-control', placeholder: "Don't forget halfs!" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :beds, 'Bedrooms', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.number_field :beds, class: 'form-control', placeholder: 'How many bedrooms?' %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :street1, 'Address', class: 'col-md-2 control-label' %>
        <div class="col-md-4 address-fields">
          <%= f.text_field :street1, class: 'form-control', placeholder: 'Street' %>
          <%= f.text_field :street2, class: 'form-control', placeholder: 'Unit or Apt Number' %>
          <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
          <%= f.text_field :state, class: 'form-control', placeholder: 'State/Prov' %>
          <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip' %>
        </div>
        <%= f.label :description, 'Description', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.text_area :description, class: 'form-control', placeholder: 'Give us a good narative description', rows: 6 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :features, class: 'col-md-2 control-label col-md-offset-6' %>
        <div class="col-md-4">
          <%= f.text_area :features, class: 'form-control', placeholder: 'List the features of your place. One Per line.', rows: 6 %>
        </div>
      </div>

      <div class="photo-holder form-group">
        <ul class="photos">
          <% @listing.photos.each_with_index do |pic, i| %>
            <li>
              <img src="<%= pic.thumbnail_url%>">
              <input type="text" name="listing[photos_attributes][<%= i %>][caption]" value="<%= pic.caption %>">
            </li>
          <% end %>
        </ul>
      </div>
      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    <% end %>
    <form id="file-upload-form">
      <input type="file" name="photos">
    </form>
  </div>
</div>
<% content_for :additional_js do %>
  <%= javascript_include_tag 'photo_uploader' %>
<% end %>

