<form id="file-upload-form">
  <input type="file" name="photos">
</form>
<%= form_for @listing, html: {id: 'listing-form'} do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="photos">

  </ul>
  <div class="field">
    <%= f.label :street1 %><br>
    <%= f.text_field :street1 %>
  </div>
  <div class="field">
    <%= f.label :street2 %><br>
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :tagline %><br>
    <%= f.text_field :tagline %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :permalink %><br>
    <%= f.text_field :permalink %>
  </div>
  <div class="field">
    <%= f.label :beds %><br>
    <%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :baths %><br>
    <%= f.number_field :baths %>
  </div>
  <div class="field">
    <%= f.label :halfs %><br>
    <%= f.number_field :halfs %>
  </div>
  <div class="field">
    <%= f.label :sqft %><br>
    <%= f.number_field :sqft %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :lot %><br>
    <%= f.text_field :lot %>
  </div>
  <div class="field">
    <%= f.label :construction_year %><br>
    <%= f.text_field :construction_year %>
  </div>
  <div class="field">
    <%= f.label :heat %><br>
    <%= f.text_field :heat %>
  </div>
  <div class="field">
    <%= f.label :cool %><br>
    <%= f.text_field :cool %>
  </div>
  <div class="field">
    <%= f.label :parking %><br>
    <%= f.text_field :parking %>
  </div>
  <div class="field">
    <%= f.label :basement %><br>
    <%= f.text_field :basement %>
  </div>
  <div class="field">
    <%= f.label :fireplace %><br>
    <%= f.text_field :fireplace %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.text_field :floor %>
  </div>
  <div class="field">
    <%= f.label :attic %><br>
    <%= f.check_box :attic %>
  </div>
  <div class="field">
    <%= f.label :laundry %><br>
    <%= f.text_field :laundry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
