<% if @listing.errors.any? %>
  <div id="error_explanation">
    <h5><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h5>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="row">
  <fieldset>
    <legend>The Photos</legend>
    <div class="col-md-4">
      <form id="file-upload-form">
        <div class="form-group">
          <input type="file" name="photos">
        </div>
      </form>
    </div>
  </fieldset>
  <%= form_for @listing, html: {id: 'listing-form', class: 'form-horizontal'} do |f| %>

    <div class="form-group">
      <%= f.label :price, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.number_field :price, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :home_type, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.select :home_type, ['Single Family', 'Multi-family', 'Condominium', 'Townhome'], {}, {class: 'form-control'} %>
      </div>
      <%= f.label :sqft, 'Sq. Ft', class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.number_field :sqft, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :beds, 'Bedrooms', class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.number_field :beds, class: 'form-control' %>
      </div>
      <%= f.label :baths, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.number_field :baths, class: 'form-control', placeholder: "Don't forget halfs! " %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :street1, 'Address', class: 'col-md-2 control-label' %>
      <div class="col-md-4 address-fields">
        <%= f.text_field :street1, class: 'form-control', placeholder: 'Street' %>
        <%= f.text_field :street2, class: 'form-control', placeholder: 'Unit or Apt Number' %>
        <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
        <%= f.text_field :state, class: 'form-control', placeholder: 'State/Prov' %>
        <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip' %>
      </div>
      <%= f.label :tagline, class: 'col-md-2 control-label' %>
      <div class="col-md-4" style="margin-bottom: 15px;">
        <%= f.text_field :tagline, class: 'form-control', placeholder: 'What makes your place unique?' %>
      </div>
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_area :description, class: 'form-control', placeholder: 'Give us all the details' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
  <% end %>
