<div>
  <!-- Being BS carousel -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @listing.photos.each_with_index do |photo, i| %>
        <div class="item <%= 'active' if i == 0 %>">
          <%= image_tag photo.full_url %>

          <div class="carousel-caption">
            <%= photo.caption %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!-- End BS carousel -->

  <ul id="base-details">
    <li class="beds-baths">
      <div>
        <span id="beds"><%= @listing.beds %></span>/<span id="baths"><%= @listing.baths %></span>
      </div>
      <div class="beds-baths">
        br/ba
      </div>
    </li>
    <li class="sqft">
      <div>
        <span class="sqft"><%= @listing.sqft %></span>
      </div>
      <div class="sqft">
        sq.ft
      </div>
    </li>
    <li id="price"><%= number_to_currency(@listing.price, precision: 0) %></li>
  </ul>

  <div class="arrow-down"></div>

  <div class="row show-listing">
    <div class="col-md-3 key-points">
      <ul id="key-points" class="home-details">
        <% @listing.feature_list.each do |feature| %>
          <li class="key-point"><%= feature %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3 description">
      <div id="house-description" class="home-details">
        <%= @listing.description %>
      </div>
    </div>

    <div class="arrow-down gray"></div>

    <div class="col-md-6 contact-method">
      <div class="contact">
        <h3 id="contact-seller">Contact Seller</h3>
        <% if @listing.phone %>
          <a href="<%= @listing.tel %>" class="phone">Call <%= @listing.phone %></a>
        <% end %>
        <% if @listing.email %>
          <a href="mailto:<%= @listing.email %>" class="email">Email <%= @listing.email %></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="logo">
    <%= image_tag("logo.png", :alt => "Roost Logo") %>
  </div>
</div>

