<div class="listing-form interior-page">
  <p id="notice"><%= notice %></p>
  <% @listing.photos.each do |pic| %>
    <%= image_tag pic.full_url %>
  <% end %>
  <p>
    <strong>Street1:</strong>
    <%= @listing.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= @listing.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @listing.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @listing.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= @listing.zip %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= @listing.description %>
  </p>

  <p>
    <strong>Permalink:</strong>
    <%= @listing.permalink %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= @listing.beds %>
  </p>

  <p>
    <strong>Baths:</strong>
    <%= @listing.baths %>
  </p>

  <p>
    <strong>Sqft:</strong>
    <%= @listing.sqft %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @listing.home_type %>
  </p>

  <%= link_to 'Edit', edit_listing_path(@listing) %>
</div>